<section class="profile">
    <div class="profile__btn-back">
        {{>Button type="arrow-left" page="messenger"}}
    </div>
    <div class="profile__content">
        <form class="profile__form">
            {{> @partial-block }}
        </form>
    </div>
</section>
