<div class="chat">
    <div class="chat__header">
        <div class="chat__user">
            {{>Avatar img="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqVXEv56F4dZMtTtYhwcngN_RFh1ZG4GxueN4gA4s3BA&s" size=34}}
            {{>UserName name="Киноклуб"}}
        </div>
        {{>Button type="user"}}
    </div>
    <div class="chat__content">
        {{>MessagesList}}
    </div>
    <div class="chat__footer">
        {{>Button type="add"}}
        {{>MessageInput label="Сообщение"}}
        {{>Button type="arrow-right"}}</div>
</div>
