.input-file1 {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file__label1 {
  font-size: 12px;
  font-weight: 500;
  color: #3369F3;
  display: inline-block;
  cursor: pointer;

  &:focus,
  &:hover {
    color: #0a58ca;
  }

}
