<div class="error">
    <h2 class="error__title">{{errorNumber}}</h2>
    <span class="error__message">{{errorMessage}}</span>
    {{> Button label="Назад к чатам" type="link" page="messenger"}}
</div>
