<div class="message-input">
  <input
    type="text"
    class="message-input__field"
    name="message"
    placeholder={{label}}
    id="message"
  />
  <label class="message-input__label" for="message"></label>
</div>
