.profile {
  display: flex;
  height: 100%;
  width: 100%;
  &__btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 64px;
    border-right: 1px solid #eaeaea;
    background-color: #fbfbfb;
  }
  &__content {
    margin: 0 auto;
    padding: 60px 10px 30px;
    max-width: 530px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__avatar-wrap {
    position: relative;
    margin-bottom: 20px;
  }
  &__change-avatar-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 51px 33px;
    width: 130px;
    aspect-ratio: 1/1;
    color: var(--white-color);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
    &:hover,
    &:focus,
    &:active {
      transition: opacity 0.5s ease;
      opacity: 1;
    }
  }
  &__title-wrap {
    margin-bottom: 40px;
  }

  &__title {
    color: var(--text-color);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }
  &__list {
    margin-bottom: 60px;
    width: 100%;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
  }
  &__item_btn:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
    margin: 0;
  }
}
