<div class="container">
    {{#> Form type="auth"}}
        {{> Title text="Регистрация"}}
        {{> Input id="email" label="Почта" name="email" type="email" mode="float" value=login}}
        {{> Input id="login" label="Логин" name="login" type="text" mode="float" value=login}}
        {{> Input id="first_name" label="Имя" name="first_name" type="text" mode="float" value=first_name}}
        {{> Input id="second_name" label="Фамилия" name="second_name" type="text" mode="float" value=second_name}}
        {{> Input id="phone" label="Телефон" name="phone" type="text" mode="float" value=phone}}
        {{> Input id="password" label="Пароль" name="password" type="password" mode="float" value=password invalid=true }}
        {{> Input id="password2" label="Пароль (ещё раз)" name="password" type="password" mode="float" value=password  invalid=true validateMessage="Пароли не совпадают" }}
        <div style="margin-top: 47px">
            {{> Button label="Зарегистрироваться" type="primary" page="list"}}
            {{> Button label="Войти" type="link" page="login"}}
        </div>
    {{/Form}}
</div>
