<div class="search">
  <input
    class="search__input"
    type="text"
    name="search"
    id="search"
    placeholder=""
  />
  <label class="search__label" for="search">{{label}}</label>
  <div class="search__icon"></div>
</div>
