.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  margin: auto;
  width: 340px;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  &-auth {
    min-height: 460px;
  }
  &-popup {
    padding: 40px 30px;
    min-height: 257px;
  }
}
