<div class="messages">
    {{#each (messagesData)}}
        {{>MessageDate}}

        <ul class="messages__list">
        {{#each messages}}
            {{>Message}}
        {{/each}}
        </ul>
    {{/each}}
</div>
